<!DOCTYPE html>
<html>
  <head>
    <body style="background-color:slateblue;">;">

    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    
    
    <h1>Favorite Food</h1>
    <img src="http://www.qygjxz.com/beautiful-wallpapers-screensavers/5522750.html">
    
  <!--<form method= "POST" action ="/food">-->
    <!--<p>Your name starts with a... <input type = "radio" name = "username">a</p>-->
    <!--<p>What is your favorite food? <input type = "radio" name = "food"></p>-->
    <!--<p>How old are you? <input type = "radio" name = "age_yo"></p>-->
    
    <form action="">
  <input type="radio" name="name" value="Val O."> Val O.<br>
  <input type="radio" name="name" value="Monet"> Monet<br>
  <input type="radio" name="name" value="Alea"> Alea<br>
  <input type="radio" name="name" value="Elizabeth">Elizabeth<br>
  <input type="radio" name="name" value="Della">Della<br>
  <input type="radio" name="name" value="Maddie">Maddie<br>
  <input type="radio" name="name" value="Val C.">Val C.<br>
  <input type="radio" name="name" value="Nicole">Nicole<br>
  <input type="radio" name="name" value="Fatima">Fatima<br>
  <input type="radio" name="name" value="Jadyn">Jadyn<br>
  <input type="radio" name="name" value="Christina">Christina<br>
  <input type="radio" name="name" value="Judy">Judy<br>
  <input type="radio" name="name" value="Jazzy">Jazzy<br>
  <input type="radio" name="name" value="Ela">Ela<br>
  <input type="radio" name="name" value="Tallie">Tallie<br>
  <input type="radio" name="name" value="McKenzie">McKenzie<br>
  <input type="radio" name="name" value="Kyla">Kyla<br>
  
</form>
   
    <input type = "submit" value = "Submit!!!">
    
    
  </form>

    <!-- Insert Your Form Below -->

  </body>
</html>
